# Dependencies
node_modules/

# Temporary downloaded print files
temp/

# Locks and Runtime Data
data/*.lock

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.development
.env.production

# System files
.DS_Store
Thumbs.db
ehthumbs.db
